.header{

    #flex-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xs{
            flex-direction: column;
        }

        .header-navbar{
            .nav-items{
                display: flex;
                font-size: 1.2rem;

                @include xs{
                    width: 100vw;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 2.5rem;
                    background-color: map-get($neutral, light-grayish-blue)
                }

                .nav-item{
                    margin-left: 2rem;

                    @include xs{
                        padding: 1rem 0;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

